<h5>Frozen Columns</h5>
<p-treeTable
  [value]="files2"
  [columns]="scrollableCols"
  [frozenColumns]="frozenCols"
  [scrollable]="true"
  scrollHeight="auto"
  frozenWidth="250px"
  styleClass="p-treetable-sm"
>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" style="width:79px;" />
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr [ttRow]="rowNode" style="height: 45px">
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData="rowData" let-columns="columns">
    <tr style="height: 57px">
      <td *ngFor="let col of columns; let i = index">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
    <tr style="height: 57px">
      <td style="width:100px;">
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{ rowData.nodeName }}
      </td>
    </tr>
  </ng-template>
</p-treeTable>
